<img src="https://cdn.jsdelivr.net/gh/AmirGhan/angular-7yj88t@master/src/app/assets/img/full-explorance-logo.png">
<div class="container">
	<fieldset>
		<legend>Read/Show</legend>
		<p> Search :
			<input type="text" />
        </p>
			<br />
			<table>
				<tbody>
					<tr>
						<th>Name</th>
						<th>Family</th>
						<th>Birthday</th>
						<th>Item #</th>
						<th>Actions</th>
					</tr>
					<tr *ngFor="let user of users; let i = index">
						<td>{{user.name}}</td>
						<td>{{user.family}}</td>
						<td>{{user.birthday.day}}-{{user.birthday.month}}-{{user.birthday.year}}</td>
						<td>{{user.itemNum}}</td>
						<td>
							<input (click)="delete(i)" type="button" value="Delete" />
							<input (click)="setEditUser(i)" type="button" value="Edit" />
              </td>
					</tr>
				</tbody>
			</table>
	</fieldset>
	<form #f="ngForm">
		<fieldset>
			<legend>Add/Edit</legend>
			<div class="form-group">
				<label>Name :</label><br>
				<input [(ngModel)]="name" name="name" type="text" class="form-control" required />
				<div
					*ngIf="f.form.controls.name.errors && (f.form.controls.name.dirty || f.form.controls.name.touched)">
					<p *ngIf="f.form.controls.name.errors.required">This field is required.</p>
				</div>
			</div>

			<div class="form-group">
				<label>Family :</label><br>
				<input [(ngModel)]="family" name="family" type="text" class="form-control" required />
				<div
					*ngIf="f.form.controls.family.errors && (f.form.controls.family.dirty || f.form.controls.family.touched)">
					<p *ngIf="f.form.controls.family.errors.required">This field is required.</p>
				</div>
			</div>
			<label>Birthday :</label><br>

			<div class="form-row">

				<div class="form-group">
					<input [(ngModel)]="birthdayDay" name="birthdayDay" placeholder="DD" type="number" pattern="([1-9]|[12][0-9]|3[01])" class="form-control" required />
					<div
						*ngIf="f.form.controls.birthdayDay.errors && (f.form.controls.birthdayDay.dirty || f.form.controls.birthdayDay.touched)">
						<p *ngIf="f.form.controls.birthdayDay.errors.required">This field is required.</p>
						<p *ngIf="f.form.controls.birthdayDay.errors.pattern">Should be between 1-31</p>
					</div>
				</div>

				<div class="form-group">
					<input [(ngModel)]="birthdayMonth" name="birthdayMonth" placeholder="MM" type="number" pattern="([1-9]|1[0-2])" class="form-control" required />
					<div
						*ngIf="f.form.controls.birthdayMonth.errors && (f.form.controls.birthdayMonth.dirty || f.form.controls.birthdayMonth.touched)">
						<p *ngIf="f.form.controls.birthdayMonth.errors.required">This field is required.</p>
						<p *ngIf="f.form.controls.birthdayMonth.errors.pattern">Should be between 1-12</p>
					</div>
				</div>

				<div class="form-group">
					<input [(ngModel)]="birthdayYear" name="birthdayYear" placeholder="YYYY" type="number" pattern="(19[0-8][0-9]|199[0-9]|20[01][0-9]|2020)" class="form-control" required />
					<div
						*ngIf="f.form.controls.birthdayYear.errors && (f.form.controls.birthdayYear.dirty || f.form.controls.birthdayYear.touched)">
						<p *ngIf="f.form.controls.birthdayYear.errors.required">This field is required.</p>
						<p *ngIf="f.form.controls.birthdayYear.errors.pattern">Should be between 1900-2020</p>
					</div>
				</div>

			</div>

			<div class="form-group">
				<label>Item Number :</label><br>
				<input [(ngModel)]="itemNumber" name="itemNumber" type="number" class="form-control" required />
				<div
					*ngIf="f.form.controls.itemNumber.errors && (f.form.controls.itemNumber.dirty || f.form.controls.itemNumber.touched)">
					<p *ngIf="f.form.controls.itemNumber.errors.required">This field is required.</p>
				</div>
			</div>

			<input [hidden]="editingIndex!==undefined" (click)="add()" type="button" value="Add" [disabled]="f.invalid" />
			<input [hidden]="editingIndex===undefined" (click)="edit()" type="button" value="update" [disabled]="f.invalid"/>
			<input (click)="cancel()" [hidden]="editingIndex===undefined" type="button" value="cancel"  />
    </fieldset>
	</form>
</div>